@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5" style="font-family: Arial, sans-serif; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h2 style="color: #333366; text-align: center; margin-bottom: 20px;">MHRS</h2>

    <p style="color: #555; line-height: 1.6;">
        <strong>MHRS</strong>, @_localization.Getkey("pr1")
    </p>

    <p style="color: #555; line-height: 1.6;">
        <strong>@_localization.Getkey("Kolaylık"):</strong> @_localization.Getkey("pr2")
    </p>
    <p style="color: #555; line-height: 1.6;">
        <strong>@_localization.Getkey("Guvenlik"):</strong> @_localization.Getkey("pr3")
    </p>
    <p style="color: #555; line-height: 1.6;">
        <strong>@_localization.Getkey("Esneklik"):</strong> @_localization.Getkey("pr4")
    </p>

    <p style="color: #555; line-height: 1.6;">
        <strong>@_localization.Getkey("Uzman"):</strong> @_localization.Getkey("pr5")
    </p>

    <p style="color: #555; line-height: 1.6;">
        <strong>@_localization.Getkey("ap"):</strong> @_localization.Getkey("pr6")
    </p>

    <p style="color: #555; line-height: 1.6;">
        <strong>@_localization.Getkey("sos"):</strong> @_localization.Getkey("pr7")
    </p>
</div>

