@model IEnumerable<WebApplication7.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isBooked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>@{
                        if(item.userID == null)
                        {
                            <h5>boş</h5>
                        }
                        
                        else{
                            @Html.DisplayFor(modelItem => item.user.firstName)
                        }
                }   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doctor.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentDate)
            </td>
            <td>

                    @{
                        if(item.isBooked== false)
                        {
                            <h5>rezerve edilmedi</h5>
                        }
                        else
                        {
                            <h1>rezerve</h1>
                        }
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.appointmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appointmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appointmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
