@model IEnumerable<WebApplication7.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>@_localization.Getkey("Randevular").Value</h1>

<p>
    <a asp-action="Create" class="btn btn-create">@_localization.Getkey("YeniEkle").Value</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @_localization.Getkey("User").Value
            </th>
            <th>
                @_localization.Getkey("Doktor").Value
            </th>
            <th>
                @_localization.Getkey("Tarih").Value
            </th>
            <th>
                @_localization.Getkey("RezerveMi").Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>@{
                        if(item.userID == null)
                        {
                            <h5>boş</h5>
                        }
                        
                        else{
                            <h5> @Html.DisplayFor(modelItem => item.user.firstName) </h5>
                        }
                }   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doctor.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentDate)
            </td>
            <td>

                    @{
                        if(item.isBooked== false)
                        {
                            <h5>rezerve edilmedi</h5>
                        }
                        else
                        {

                            <h5>rezerve</h5>
                        }
                    }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.appointmentID" class="btn btn-table btn-outline-success">@_localization.Getkey("Edit").Value</a>
                    <a asp-action="Details" asp-route-id="@item.appointmentID" class="btn btn-table btn-outline-info">@_localization.Getkey("Details").Value</a>
                    <a asp-action="Delete" asp-route-id="@item.appointmentID" class="btn btn-table btn-outline-danger">@_localization.Getkey("Delete").Value</a>
            </td>
        </tr>
}
    </tbody>
</table>
