@model WebApplication7.Models.DTO.AppointmentDto

@{
    ViewData["Title"] = "Reserve";
}

<h1>@_localization.Getkey("RandevuAl")</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">@_localization.Getkey("Klinik")</label>
                <select id="clinicId" class="form-control" asp-items="ViewBag.Clinics">
                    <option disabled selected>---- Klinik Seçiniz ----</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="doctorId" class="control-label">@_localization.Getkey("Doktor")</label>
                <select asp-for="doctorId" class="form-select" id="doctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="appointmentDate" class="control-label">@_localization.Getkey("Tarih")</label>
                <select asp-for="appointmentDate"  class="form-select" id="appointmentDate"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            GetDoctorsByClinicId();

            $("#clinicId").change(function () {
                GetDoctorsByClinicId();
            });
        });

        var GetDoctorsByClinicId = function () {
            $.ajax({
                url: '@Url.Action("GetDoctorsByClinicId", "Appointments")',
                type: 'GET',
                data: {
                    clinicId: $('#clinicId').val()
                },
                success: function (data) {
                    $('#doctorId').empty(); // Önce mevcut seçenekleri temizle
                    $(data).each(function (index, item) {
                        $('#doctorId').append('<option value="' + item.doctorId + '">' + item.firstName + " " + item.lastName + '</option>');
                    });
                    if (data.length > 0) {
                        $('#doctorId').val(data[0].doctorId);
                    }
                }
            });
        };

        //------------------------------------------------------------
        //------------------------------------------------------------
        //------------------------------------------------------------
        //------------------------------------------------------------

        $(document).ready(function () {
            GetAppointmentsByDoctorId();

            $("#doctorId").change(function () {
                GetAppointmentsByDoctorId();
            });
        });



        var GetAppointmentsByDoctorId = function () {
            $.ajax({
                url: '@Url.Action("GetAppointmentsByDoctorId", "Appointments")',
                type: 'GET',
                data: {
                    doctorId: $('#doctorId').val()
                },
                success: function (data) {
                    $('#appointmentDate').empty(); // Önce mevcut seçenekleri temizle
                    $(data).each(function (index, item) {
                        $('#appointmentDate').append('<option value="' + item.appointmentDate + '">' + item.appointmentDate + '</option>');
                    });
                }
            });
        };

    </script>
}
