@model WebApplication7.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<div class="shadow p-3 mb-5 bg-white rounded" id="centeredContent">

<div>
        <div class="text-center"><h4>@_localization.Getkey("DoktorBilgileri")</h4></div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clinic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clinic.clinicName)
        </dd>
    </dl>
</div>
<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model?.doctorId" class="btn btn-success ">Edit</a> 
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
</div>
