@model IEnumerable<WebApplication7.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>@_localization.Getkey("Doktorlar").Value</h1>

<p>
    <a asp-action="Create" class="btn btn-create">@_localization.Getkey("YeniEkle").Value</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clinic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model == null)
        {
            <p>No data available.</p>
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clinic.clinicName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.doctorId" class="btn btn-table btn-outline-success">@_localization.Getkey("Edit").Value</a>
                    <a asp-action="Details" asp-route-id="@item.doctorId" class="btn btn-table btn-outline-info">@_localization.Getkey("Details").Value</a>
                    <a asp-action="Delete" asp-route-id="@item.doctorId" class="btn btn-table btn-outline-danger">@_localization.Getkey("Delete").Value</a>
            </td>
        </tr>
}
    </tbody>
</table>
