@page
@model LoginModel
@using WebApplication7.Services
@inject LanguageService _localization;

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
        <section class="p-4 shadow-lg rounded">
            <h1 class="text-center mb-4 mt-2">@_localization.Getkey("GirişYap").Value</h1>
            <hr />
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label class="form-check-label" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                    </div>
                </div>
                <div class="mt-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@_localization.Getkey("GirişYap").Value</button>
                </div>
                <div class="mt-3 text-center">               
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@_localization.Getkey("YeniBirKullanıcıOlarakGirisYap").Value</a><br />
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
